.GameSystem-Title{
    text-align: center;
    color: white;
    font-family: BungeeRegular;
    margin: 0;
    margin-top: 100px;
    margin-bottom: 40px;
    font-weight: normal;
    background: rgb(42, 52, 99);
    border-radius: 10px;
    width: 80%;
    box-shadow: 3px 5px 33px#888888;
}

.Container-GameSystem-Title{
    display: flex;
    justify-content: center;
}

.GameSystem-details{
    background: #fafafa;
}
.mechanic{
    background: rgb(42, 52, 99);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.mechanic-details h2{
    margin:0px;
    padding: 20px;
    padding-bottom: 15px;
    color: white;
}

.mechanic{
    box-shadow: 3px 5px 33px#888888;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 50px;
    padding: 20px;
    background: rgb(42, 52, 99);
    flex-shrink: 0;
    align-items: center; 
    display: flex;
    flex-wrap: wrap;
    transition: 300ms;
    justify-content: center;
}

.mechanic:hover 
{
    transform: scale(1.01);
}

.mechanic-details {
    width: 450px;
    transition: 300ms;
    
    color: white;
}

.mechanic-imageContainer{
    width: 450px;
    margin: auto;
    padding: 20px;
    object-fit: cover;
    transition: 300ms;
}

.mechanic-title{
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
    color: white;
    font-family: BungeeRegular;
    font-weight: normal;
}

.mechanic-technology,.mechanic-date,.mechanic-url{
    margin: 10px 0px;

}

.mechanic-description{
    font-size: 20px;
    color: white;
    font-family: BungeeInline;
    text-align: justify;
    font-weight: bold;
}

.mechanic strong{
    font-family: 'Fjalla One', Times, serif;
    
    color: white;
}

.GameSystem .container{
    max-width: 1200px;
}

@media screen and (max-width: 1023px){
    .mechanic{
        display: block;
    }
    .mechanic-details {
        width: 650px;
    }
}

@media screen and (max-width: 767px){
    .mechanic-details {
        width: 420px;
        font-size: 16px;
    }

    .mechanic-imageContainer{
        width: 380px;
        margin: auto;
        object-fit: cover;
    }

    .mechanic-imageContainer img{
        width: 380px;
    }

    .mechanic-title{
        font-size: 1.5em;
        margin-bottom: 0.3em;
    }

    .mechanic-url{
        font-size: 1em;
    }

    .mechanic-technology{
        font-size: 0.7em;
    }

    .mechanic-date{
        font-size: 1em;
    }

    .mechanic-description{
        font-size: 0.8em;
    }

    .mechanic-technology .mechanic-date .mechanic-url{
        margin: 0.3em 0;
    }

    .GameSystem-Mechanics{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

}

@media screen and (max-width: 479px){
    .mechanic{
        width: 366px;
    }
    .mechanic-details {
        width: 366px;
        font-size: 12px;
    }

    .mechanic-imageContainer{
        width: 220px;
        margin: auto;
        object-fit: cover;
    }

    .mechanic-imageContainer img{
        width: 220px;
    }

    .Portafolio-details h2{
        font-size: 1em;
    }
}

@media screen and (max-width: 424px){
    .mechanic{
        width: 245px;
    }
    .mechanic-details {
        width: 100%;
    }
}