.Main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: none;
    flex-wrap: wrap;
}

.hero{
    object-fit: cover;
}

.logoshinytures{
    width: 380px;
    position: absolute;
}

.Main-Containar-Image{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 5px 33px#888888;
    width: 100%;
}

.main-video{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    opacity: 0.5;
    width: 100%;
} 

.tsbButton{
    width: 200px;
    position: absolute;
    bottom: 116px;
}

.tsblogo{
    width: 100%;
    background: rgb(1, 117, 178);
    border-radius: 20px;
    box-shadow: 3px 5px 33px#888888;
}

.tsblogo:hover {
    opacity: 0.7;
    transition: 0.5s;
}

.tsbSoon{
    position: absolute;
    color: white;
    font-family: BungeeRegular;
    bottom: 172px;
    font-size: 29px;
}
    
@media screen and (max-width:1439px){
    .tsbSoon{
        bottom: 313px;
    }

    .tsbButton{
        bottom: 270px;
    }
}

@media screen and (max-width:1023px){
    .Main{
        height: auto;
        position: relative;
        overflow: hidden;
        padding: 2em;
    }

    .hero{
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
    }

    h1{
        font-size: 2em;
        z-index: 2;
    }

    .Main-Containar-Image{
        box-shadow: none;
    }

    .Main-Containar-Image .main-video{
        display: none;
    } 

    .logoshinytures{
        width: 90%;
        position: unset;
    }
    
    .tsbButton{
        position: unset;
        width: 40%;
    }

    .Main-Containar-Image{
        box-shadow: none;
        flex-wrap: wrap;
    }

    .tsbSoon{
        position: unset;
        font-size: 22px;
        width: 100%;
        text-align: center;
    }

    .container{
        padding: 0;
    }
}

@media screen and (max-width:480px){
    h1{
        font-size: 1.2em;
    }

    .Main-Containar-Image video{
        display: none;
    } 

    .logoshinytures{
        width: 90%;
        position: unset;
    }
    
    .tsbButton{
        position: unset;
        width: 65%;
    }

    .Main-Containar-Image{
        box-shadow: none;
        flex-wrap: wrap;
    }

    .tsbSoon{
        position: unset;
        font-size: 22px;
    }

    .container{
        padding: 0;
    }
}