.Main{
    height: 900px;
    /*background-image: url('../images/hero.jpg');*/
    /*background-color: #1b2127;*/
    /*background-size: 500px 300px;*/
    /*background-repeat: no-repeat;*/
    /*background-position-x: right; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: none;
    flex-wrap: wrap;
}

.hero{
    object-fit: cover;
}

.logoshinytures{
    width: 25%;
    position: absolute;
}

.Main-Containar-Image{
    display: flex;
    justify-content: center;
    box-shadow: 3px 5px 33px#888888;
    align-items: center;
}

.Main-Containar-Image video{
    border-radius: 10px;
    opacity: 50%;
} 

.tsbButton{
    width: 270px;
    position: absolute;
    bottom: 116px;
}

.tsblogo{
    width: 100%;
    background: rgb(1, 117, 178);
    border-radius: 20px;
}

.tsblogo:hover {
    opacity: 70%;
    transition: 0.5s;
}

.tsbSoon{
    position: absolute;
    color: white;
    font-family: BungeeRegular;
    bottom: 193px;
    font-size: 29px;
}
    

@media screen and (max-width:1023px){
    .Main{
        height: auto;
        position: relative;
        overflow: hidden;
        padding: 2em;
    }

    .hero{
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
    }

    h1{
        font-size: 2em;
        z-index: 2;
    }
}

@media screen and (max-width:480px){
    h1{
        font-size: 1.2em;
    }
}